h1{
    font-family: cursive;
    font-size: 50px;
}

button{
    background-color: rgb(255, 207, 226);
    border-radius: 5px;
    border-color: aliceblue;
    height: 40px;
    width: 100px;
    font-family: cursive;
}

button:hover{
    background-color: rgb(242, 207, 255);
}

canvas{
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{
        box-shadow: 10px 10px 38px rgb(242, 207, 255);
      }
    
      to{
        box-shadow: 10px 10px 38px rgb(255, 207, 226);
      }

}